body 
{
	background-color: #4EB27D;
	
}

h1 
{
	font-family:Schoolbell;
	color:white;
	text-align: center;
	
}

#goggles 
{
	height: 200px;
	width:300px;
	margin-left: 25%;
	margin-top: -3%;
	position: absolute;
	z-index: 1;
}


.box 
{
	background-color: #A186BE;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	margin-top: 10%;
	margin-left: 20%;
	border:2px dashed black;
	position: absolute;
}

#paragraph_box 
{
	margin-left: 5%;
}

#paragraph_box_2
{
	margin-left: 50%;
}

#paragraph_box_3
{
	margin-top: 30%;
	margin-left: 27.5%;
}

#paragraph_box_4 
{
	margin-left: 72.5%;
	margin-top: 30%;
}


.footprints {
	height:240px;
	width:61.2px;
	-webkit-transform: rotate(115deg);
	margin-left: 19%;
	margin-top: 20%;
	position: absolute;
	z-index: 3;
	
}

#prints_1 
{
	margin-left:47%;
	-webkit-transform:rotate(55deg);
}


#link_tag 
{
	position: absolute;
	-webkit-transform: rotate(45deg);
	margin-top: 10%;
	margin-left: 15%;
	color: black;
	font-family: sans-serif;
	
	text-decoration: none;
}

#p_tag 
{
	position: absolute;
	font-family: sans-serif;
	text-decoration: none;
	-webkit-transform:rotate(-45deg);
	margin-top: 10%;
	margin-left: 0%;

}

#span_tag
{
	position: absolute;
	font-family: sans-serif;
	text-decoration: none;
	margin-top: 25%;
	-webkit-transform:rotate(225deg);
}

#puppy
{
	height: 200px;
	width: 200px;
	border-radius: 100%;
	position: absolute;
	margin-left: 27.75%;
	margin-top: 30.2%;
	z-index: 2;
}

#h1
{
	position: absolute;
	font-family: sans-serif;
	color: black;
	margin-left: 63%;
	-webkit-transform:rotate(45deg);
	margin-top: 10%;
}

#h2
{
	position: absolute;
	font-family: sans-serif;
	margin-left: 50%;
	-webkit-transform:rotate(-45deg);
	margin-top: 10%;
}

#h3
{
	position: absolute;
	font-family: sans-serif;
	margin-left: 48%;
	-webkit-transform:rotate(225deg);
	margin-top: 23%;
}









