body 
{
	background-color: #4EB27D;
	
}

h1 
{
	font-family:Schoolbell;
	color:white;
	text-align: center;
	
}

#goggles 
{
	height: 200px;
	width:300px;
	margin-left: 5%;
	margin-top: -9%;
	position: absolute;
	z-index: 1;
}


.box 
{
	background-color: #A186BE;
	height: 200px;
	width: 200px;
	border-radius: 100%;
	margin-top: 10%;
	margin-left: 20%;
	border:2px dashed black;
	position: absolute;
}

#paragraph_box 
{
	margin-left: 5%;
}

#paragraph_box_2
{
	margin-left: 50%;
}

#paragraph_box_3
{
	margin-top: 30%;
	margin-left: 27.5%;
}

#paragraph_box_4 
{
	margin-left: 72.5%;
	margin-top: 30%;
}

#instructions_box
{
    margin-left: 73%;
    position:absolute;
    background-color: #CEE3F6;
    border: 2px solid black;
    width: 310px;
    height: 600px;
}

#dotted_box_goggles
{
    position:absolute;
    width:150px;
    height:150px;
    margin-bottom:40%; 
    margin-left: 25%;
    background-color: #CEE3F6;
    border: 2px dashed black;
}

.instructions_text_header
{
   font-family: Lato;
   font-size: 150%;
   margin-left: 30%;
   color: black;
}

.instructions_text_body
{
    font-family: Lato;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20%;
    text-align:justify; 
    font-size: 98%;
    color: black;
    /*padding-left: 5%;*/
}

#instr_text_body_id
{
	margin-top: 60%;
}


.footprints {
	height:160px;
	width:42.8px;
	-webkit-transform: rotate(117deg);
	margin-left: 22%;
	margin-top: 22%;
	position: absolute;
	z-index: 3;
	
}

#prints 
{
	margin-left:40%;
	-webkit-transform:rotate(55deg);
}

#prints_1
{
	margin-left: 45%;
	margin-top: 20%;
	-webkit-transform:rotate(55deg);
}

#prints_2
{
	margin-left: 26%;
	margin-top: 24%;
}

#prints_3
{
	margin-left: 21%;
	margin-top: 20%;
}

#link_tag 
{
	position: absolute;
	-webkit-transform: rotate(45deg);
	margin-top: 10%;
	margin-left: 15%;
	color: black;
	font-family: sans-serif;
	
	text-decoration: none;
}

#p_tag 
{
	position: absolute;
	font-family: sans-serif;
	text-decoration: none;
	-webkit-transform:rotate(-45deg);
	margin-top: 10%;
	margin-left: 0%;

}

#span_tag
{
	position: absolute;
	font-family: sans-serif;
	text-decoration: none;
	margin-top: 25%;
	-webkit-transform:rotate(225deg);
}

#puppy
{
	height: 70px;
	width: 70px;
	position: absolute;
	margin-left: 33%;
	margin-top: 40%;
	z-index: 4;
}

#h1
{
	position: absolute;
	font-family: sans-serif;
	color: black;
	margin-left: 63%;
	-webkit-transform:rotate(45deg);
	margin-top: 10%;
}

#h2
{
	position: absolute;
	font-family: sans-serif;
	margin-left: 50%;
	-webkit-transform:rotate(-45deg);
	margin-top: 10%;
}

#h3
{
	position: absolute;
	font-family: sans-serif;
	margin-left: 48%;
	-webkit-transform:rotate(225deg);
	margin-top: 23%;
}


.crime_scene_tag
{
	color: white;
	font-family: Schoolbell;
	font-size: 24px;
	position: absolute;

}

#scene_1
{
	margin-left: 7.5%;
	z-index: 0;
	margin-top: 16%;
}

#scene_2
{
	margin-left: 30%;
	margin-top: 35%;
}

#scene_3 
{
	margin-left: 52.3%;
	margin-top: 16%;
}






